*,
*::after,
*::before {
    box-sizing: border-box;}
.wrapper{
    width: 1929px;
   margin: 0 auto;
}
.header-wrapper{
    width: 1900px;
    height: 70px;
    background-color: #313131;

}
.header-nav{
    display: flex;
}
.logo{
    width: 27px;
    margin: 22px 27px;
}
.text-header{
    margin: 22px 474px 22px 0;
    font-size: 22px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 30px;
}
.header-menu {
    display: flex;
    list-style-type: none;
    color: #FFFFFF;
    align-items: center;
}
.header-menu-link{
    color: #FFFFFF;
    text-decoration: none;
}
.header-menu-link:hover{
    color: #4bcaff;
}
.header-menu-link:active{
    color: #fc030b;
}
.header-home{
    color: #14B9D5;

}

.header-menu-item{

    padding-right: 35px;
}


.img-search{
    margin-right: 26px;
    color: #FFFFFF;

}
.img-search:hover {
    background: #000000;
    padding: 27px;



}
.header-background{
height: 369px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;

}
.header-text{
    position: absolute;
    width: 637px;
    height: 32px;
    left: 658px;
    top: 233px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}
.header-item{
    display: flex;
    justify-content: center;
    text-align: center;
}
.header-item-subscribe{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #89CA62;
    border-radius: 4px;
    width: 170px;
    height: 55px;
    margin-right: 20px;

}
.header-item-articles{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #14b9d5;
    border-radius: 4px;
    width: 170px;
    height: 55px;
    margin-right: 20px;
}

.title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 0;
    margin-bottom: 52px;


}

.gallery{
    display: flex;
    flex-wrap: wrap;

}
.gallery-list{
    display: flex;
    justify-content: flex-start;
}
.gallery-item{

}




.main-grid-item{
    grid-row: auto;
}

.main-grid{
    display: grid;
    list-style-type: none;
}
.gallery-post{
    display: grid;
    grid-template-rows: repeat(6,1fr);
}

.gallery-grid {
    list-style-type: none;
}