*,
*::after,
*::before {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.page {
    height: 1626px;
    width: 1280px;
}
.page-body{
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    position: absolute;
    height: 1626px;
    width: 1280px;


}
.page-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: white;

}
.page-menu-item{
    display: inline-block;
    margin-right: 30px;
    color: red;

}
.page-menu-link-home{
    height: 27px;
    width: 68px;
    color: red;

}
.page-menu-link-photoapp{
    height: 27px;
    width: 131px;
    left: 140px;

    color: red;

}
 .page-menu-link-design{
     height: 27px;
     width: 87px;
     left: 343px;

     color: red;
 }
 .page-menu-link-download{
     height: 27px;
     width: 140px;
     left: 480px;

     color: red;
 }
 .phonephoto-img{
     height:789px;
     width:1280px;



 }
.title-slogan{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;




}
.title{
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;
    margin: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;

}
.subtitle{
    margin: auto;
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 275px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}
.link-like-button{
    background-color: red;
    color:#ffffff;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    padding: 18px 43px 17px 42px;
    margin: 66px 544px 82px 544px;
    display: block;




}
.copyright{

    left: 608px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 2.4px;



}