*,
*::after,
*::before {
    box-sizing: border-box;}
.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.header-logo{
    display: inline-block;
    text-align: left;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    padding-top: 61px;
    padding-bottom: 38px;
    margin: 0;
    padding-left: 0;
    text-decoration: none;
}
.colortext{
    color: #4bcaff;
}
.menu-container{
    background-color: #35444F;
    text-decoration: none;
}
.header-nav{
    text-align: center;
    margin: 0;
    padding-left: 0;
}
.header-menu{
    text-align: center;
    margin: 0;
    list-style-type: none;
}
.header-menu-item{
    display: inline-block;
    margin: 0;
    padding-left: 32px;
    padding-right: 35px;
    padding-top: 26px;
    padding-bottom: 19px;
    border-left: 1px solid #FFFFFF;
    transition: background-color 0.3s;
}
.header-menu-item:hover{
    background-color: #222F3A
}


.header-menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.left-nav-container {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    width: 344px;
    height: 399px;margin-top: 50px;
    list-style-type: none;
}
.left-menu{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}
.left-menu-item{
    list-style: none;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 44px;
    transition: background-color 0.3s;
}
.left-menu-item:hover {
    background: #DBDBDB;
    padding-left: 30px;
    text-decoration: none;
}
.left-bar-menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #35444F;
    padding: 0;
    margin: 0;
}
.media-block{
    display: flex;
}
.content-img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 529px;
    transition: transform 0.1s;
}
.section-content{
    margin: 0;
    padding-bottom: 50px;
}
.image-container {
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
    text-align: center;
}
.content-img{
    padding: 75px 270px;
}
.main-block {
    display: flex;
}

.text-block{
    width: 885px;
    height: 120px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-left: 50px;
}
.footer-nav{
    margin: 0;
    padding-bottom: 30px;
    text-decoration: none;

}
.flex-container {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    background: rgba(99, 105, 110, 0.48)

}
.footer-nav-link {
    text-decoration: none;
    list-style-type: none;
}
.footer-nav-item{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;

}
.footer-menu {
    display: flex;
    list-style-type: none;
}
.footer-nav-item:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    text-decoration: none;

}
.copyright{
    margin-left: auto;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;

}














